.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px; /* Adjust the width as needed */
    height: 99%; /* Adjust the height as needed */
    overflow: hidden; /* Hide the overflow */
    border: 1px solid antiquewhite; /* Optional: add a border for better visibility */
    border-radius: 8px; /* Optional: add border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
  cursor: pointer;
  .card-title {
    width: 100%;
    text-align: left;
    height: 25px;
    font-size: large;
    font-weight: bold;
  }
  .card-description {
    width: 100%;
    height: 75px;
    text-align: left;
    overflow-y: auto;
    overflow-x: none;
    font-size: medium;
  }
  .card-image {
    width: 100%;
    height: 60%;
  }
}
.background-image {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: height 2s ease; 
  z-index: 1; 
  }
  
  .card-container.shrink .background-image {
    height: 50%; 
  }

  .card-content {
    position: relative;
    z-index: 2; 
    padding: 16px;
    background-color: antiquewhite;
    height: 20%;
    transition: height 2s ease; 
  }
  .card-content.grow {
    height: 45%;
  }

