.carousal-contaner {
    overflow: hidden;
    height: 70%;
    .carousal-card-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        overflow-x: auto;
        width: 350%;
        margin-left: 0%;
        transition-property: margin-left;
        transition-duration: 3s;
        height: 100%;
       
    }
}